.aboutChristies__block
    .aboutChristies__image
        div(style="background-image:url('https://static-christiesrealestate-cms-production.gtsstatic.net/resources/v_4_18_0_65/siteresources/my%20folder/responsive/images/static_pages/marrakech1920r.jpg')" alt="Christie's International Real Estate")
    .aboutChristies__details
        h2 About Christie's Real Estate
        p Christie's International Real Estate has successfully marketed high-value real estate around the world for more than 30 years. Through its New York City brokerage and invitation-only Affiliate network spanning 48 countries, Christie's International Real Estate offers incomparable services to a global clientele at the luxury end of the residential property market. The company has luxury real estate offices in London, New York City, Hong Kong, Moscow, Los Angeles, Chicago, and Palm Beach, and its affiliated brokerages have recorded approximately US$500 billion of real estate transactions over the last five years.
        a.nan-btn-primary(href="https://nanproperties.com/christies") Learn More