.redirecting_section
	h2 Browse Our Website
	.redirecting_section-links.d-md-flex.justify-content-top.d-sm-block
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/about')
				img(alt='About_Nan' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/our-services/219040/content_About.PNG')
				h3.h4 About Us
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/christies')
				img(alt='Christie' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/our-services/219041/content_christie.PNG')
				h3.h4 About Christie's
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/agents')
				img(alt='Nan_Team' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/our-services/219042/content_team.png')
				h3.h4 Meet Our Agents
