.redirecting_section(style="padding:40px")
	h2.text-center Explore Our Developer Services
	.divider__orange--short.m-auto
	.redirecting_section-links.d-flex.flex-wrap.justify-content-top.mt-3
		.redirecting_section-links__link-item.col-md-6.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/team')
				.redirecting_section-links__link-item-inner(style='background-image:url("https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/252573/Screen_Shot_2020-09-28_at_2.55.59_PM.png")')
				h3.h4.text-center Our Team
		.redirecting_section-links__link-item.col-md-6.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/services')
				.redirecting_section-links__link-item-inner(style='background-image:url("https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250212/content_Screen_Shot_2020-09-03_at_9.13.30_AM.png")')
				h3.h4.text-center Our Services
		.redirecting_section-links__link-item.col-md-6.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/')
				.redirecting_section-links__link-item-inner(style='background-image:url("https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250214/content_Screen_Shot_2020-09-03_at_9.17.58_AM.png")')
				h3.h4.text-center About Us
		.redirecting_section-links__link-item.col-md-6.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/builders')
				.redirecting_section-links__link-item-inner(style='background-image:url("https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/252574/content_Screen_Shot_2020-09-28_at_2.56.20_PM.png")')
				h3.h4.text-center Builders