.redirecting_section(style="padding:40px")
	h2.text-center Explore Our Developer Services
	.divider__orange--short.m-auto
	.redirecting_section-links.d-flex.flex-wrap.justify-content-top.mt-3
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services')
				img(alt='About_Nan' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250214/content_Screen_Shot_2020-09-03_at_9.17.58_AM.png')
				h3.h4.text-center About Our Developer Services
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/services')
				img(alt='Christie' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250212/content_Screen_Shot_2020-09-03_at_9.13.30_AM.png')
				h3.h4.text-center Scope of Services
		.redirecting_section-links__link-item.col-md-4.col-sm-12
			a.link(href='https://www.nanproperties.com/developer-services/our-developments')
				img(alt='Nan_Team' border='0' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/251123/content_Screen_Shot_2020-09-14_at_10.09.24_AM.png')
				h3.h4.text-center Our Developments
