.social-links-canva-wrapper
	.social-links-canva-wrapper__row
		.social-links-canva-wrapper__col.col-md-3.col-sm-6
			a.social-links-canva__item.d-flex.flex-column.justify-content-center.align-items-center(href="https://www.youtube.com/channel/UCy_Lo0gLaK3AdAwi-nuUjDg")
				.social-links-canva__item__logo(style="width:150px;height:100px;background-repeat:no-repeat;background-position:center;background-size:contain;background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/social-icons/251298/youtube-200.png')")
				.social-links-canva__item__handle
					p.text-center Nan and Company Properties
		.social-links-canva-wrapper__col.col-md-3.col-sm-6
			a.social-links-canva__item.d-flex.flex-column.justify-content-center.align-items-center(href="https://instagram.com/nanproperties")
				.social-links-canva__item__logo(style="width:50px;height:100px;background-repeat:no-repeat;background-position:center;background-size:contain;background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/social-icons/251299/content_IG-200.png')")
				.social-links-canva__item__handle
					p.text-center @nanproperties
		.social-links-canva-wrapper__col.col-md-3.col-sm-6
			a.social-links-canva__item.d-flex.flex-column.justify-content-center.align-items-center(href="https://twitter.com/nanproperties")
				.social-links-canva__item__logo(style="width:50px;height:100px;background-repeat:no-repeat;background-position:center;background-size:contain;background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/social-icons/251296/content_twitter-200.png')")
				.social-links-canva__item__handle
					p.text-center @NanProperties
		.social-links-canva-wrapper__col.col-md-3.col-sm-6
			a.social-links-canva__item.d-flex.flex-column.justify-content-center.align-items-center(href="https://www.tiktok.com/@nanproperties")
				.social-links-canva__item__logo(style="width:150px;height:100px;background-repeat:no-repeat;background-position:center;background-size:contain;background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/social-icons/251297/content_tiktok-200.png')")
				.social-links-canva__item__handle
					p.text-center @nanproperties