//- for Mongoose application

block content
    html(lang="en")
    head
        title Bootstrap Example
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
    body
        .container
           block content
        script(src="/javascripts/app.js")
    br
    h2 Import CSV file using NodeJS and MongoDB
    br
    p
    a(href='javascript:void(0)' class='btn btn-primary' id='importdata') Import CSV 
    |    
    a(href='javascript:void(0)' class='btn btn-primary' id='fetchdata') Fetch Data
    br  
    p#message.alert.alert-success(style='display:none')
    br
    table.table.table-bordered
        thead
            tr
                th #
                th Product ID
                th Product Name
                th Price
                th Category
                th Manufacturer
        tbody#trdata
            tr
                td(colspan='3') Click on <strong>Import CSV</strong> button to import and save data to MongoDB. <br />Click on <strong>Fetch Data</strong> button to display data from database