extends layout


block content
  h1= title
  p Welcome to #{title}
          
  h3 Agents
  .agentList-container.list-container
    each item in items
      if (item["title"] == "Realtor Associate" || item["title"] == "Broker Associate" )
        .agentList-item
          a(href="/agents/" + item["userName"]) !{item["displayName"]}

  h3 Staff
  .staffList-container.list-container
    each item in items
      if !(item["title"] == "Realtor Associate" || item["title"] == "Broker Associate" )
        .agentList-item
          a(href="/agents/" + item["userName"]) !{item["displayName"]}
  hr