extends layout-nan

block content
	// Copy the div below

	#developer-builders-landing-page.custom-page
		include inline-css/_site-css
		include inline-css/developer-services


		main.services_body-container
			.body-intro.d-md-flex.justify-content-center.align-items-center.clearfix.d-sm-block
				.body-intro_content.col-md-6.col-sm-12
					h2 Our Builders
					.divider__orange--short
					p We provide builders with a wide range of services to help them push their homes to the front-end of the real estate market and maximize homebuyer visibility. With our innovative services, we effectively showcase all the amazing things your homes have to offer buyers. Every partner we work with is featured on the Nan and Company Properties website, HAR, Zillow, Trulia and hundreds of other websites within our distribution network.
					a.nan-btn-primary(href="#cms-form") Contact Us Now
				.body-intro_img.col-md-6.col-sm-12
					img(alt='Our Developer Services' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/252235/AK3_7054-HDR__1_.jpg')
			.spacer-100
			.services.clearfix
				.service.service_buying.d-md-flex.justify-content-center.align-items-center.clearfix.d-sm-block
					.service_content.col-md-12.col-sm-12.flex-wrap.d-md-flex.justify-content-center.align-items-center
						h2.text-center.col-md-12.col-sm-12.pt-3 Our Incredible Partners
						.d-md-flex.justify-content-center.align-items-center.clearfix.d-sm-block.flex-wrap
							.col-md-3.col-sm-6
								img(alt='Lennar Homes' src="https://fldeals.peakseven.com/static/fldeals-2/img/lennar-logo-2.svg")
							.col-md-3.col-sm-6
								img.col-md-3.col-sm-6(alt='logo1' src="https://fldeals.peakseven.com/static/fldeals-2/img/lennar-logo-2.svg")
							.col-md-3.col-sm-6
								img.col-md-3.col-sm-6(alt='logo1' src="https://fldeals.peakseven.com/static/fldeals-2/img/lennar-logo-2.svg")
							.col-md-3.col-sm-6
								img.col-md-3.col-sm-6(alt='logo1' src="https://fldeals.peakseven.com/static/fldeals-2/img/lennar-logo-2.svg")
				.spacer-50
				
			.spacer-100

			include partials/redirection-section-developer-services.pug

		include partials/cms-form


