extends layout-nan

block content
	// Copy the div below

	#developer-services-landing-page.custom-page
		include inline-css/_site-css
		include inline-css/developer-services


		main.services_body-container
			.body-intro.d-md-flex.justify-content-center.align-items-center.clearfix.d-sm-block
				.body-intro_content.col-md-6.col-sm-12
					h2 What We Do
					.divider__orange--short
					p
						| We staff our projects with highly trained real estate professionals who are exclusive to the project and only sell one development at a time. The on-site sales agents represent the developer and the project; they become experts of the brand, of the project, of the developer, and of the project location and its neighborhood.
					a.nan-btn-primary(href="#cms-form") Contact Us Now
				.body-intro_img.col-md-6.col-sm-12
					img(alt='Meet Our Developer Services Team' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/249217/DSC_4877.jpg')
			.spacer-100
			.services.clearfix
				.service.service_buying.d-md-flex.justify-content-center.align-items-center.clearfix.d-sm-block
					.service_img.col-md-6.col-sm-12
						img(alt='buying_image' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/249215/IMG_1431.jpg')
					.service_content.col-md-6
						h2 Scope of Services
						.divider__orange--short
						p Nan Properties Developer Services include:
						ul
							li Research &amp; Competitve Market Analysis
							li Target Market &amp; Unique Selling Positioning
							li Architectural Review &amp; Product Translation to the target buyer
							li Home-by-Home Pricing
							li Dedicated &amp; Highly Trained Agents
							li Sales &amp; Market Plan
							li Advertising &amp; Public Relations
							li Social Media &amp; Reputation Managment
							li Virtual Tours, 3-D Matterports, Drone &amp; Photography
							li Collateral Marketing Materials
							li Closing Coordination
							li Ernest Money Requirements
							li End Loan Financing
							li Property Recommendations
				.spacer-100
				.spacer-50
				.service.service_selling.d-flex.flex-wrap.justify-content-center.align-items-center.clearfix
					.service_content.col-md-6.col-sm-12.order-md-1.order-2
						h2 The Power of Christie's
						.divider__orange--short
						p Christie's International Real Estate connects buyers and sellers of the world's most important properties. Our real estate company is driven by the global span and expertise of our Affiliate network, which extends to more than 138 affiliates across 940 offices in 48 countries and a combined annual sales volume of approximately $115 billion in 2016. Our unique international perspective on the worlds of art and luxury, together with our unparalleled service, has made Christie's International Real Estate the global authority in the marketing of distinctive properties.
					.service_img.col-md-6.col-sm-12.order-md-2.order-1
						img(alt='selling_image' height='312' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/249218/Christies5_217.jpg' style='float:right' width='469')
			
			.spacer-100

			include partials/redirection-section.pug

		include partials/cms-form


