extends layout-nan

block content
	// Copy the div below

	#developer-services-landing-page.custom-page
		include inline-css/_site-css
		include inline-css/_developer-services-main

		main.services_body-container
			h1.pb-3.my-5.text-center Scope of Services
			.body-intro.d-flex.flex-wrap.justify-content-center.align-items-center.clearfix
				.body-intro_content.col-md-6.col-sm-12.order-2.order-sm-1
					h2 What We Do
					.divider__orange--short
					p
						| We staff our projects with highly trained real estate professionals who are exclusive to the project and dedicated to selling one development at a time. The on-site sales agents represent the developer and the project; they become experts of the brand, of the project, of the developer, and of the project location and its surrounding neighborhood.  
					
				.body-intro_img.col-md-6.col-sm-12.order-1.order-sm-2
					img(alt='Meet Our Developer Services Team' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250170/content_1.png')
			.spacer-100
			.services.clearfix
				.service.service_buying.d-flex.flex-wrap.justify-content-center.align-items-center.clearfix
					.service_img.col-md-6.col-sm-12
						img(alt='Scope of Services, Nan and Company Properties Developer Services' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/250174/content_Untitled_design__1_.png')
					.service_content.col-md-6
						h2 Scope of Services
						.divider__orange--short
						p Nan Properties Developer Services include:
						ul
							li Research &amp; Competitve Market Analysis
							li Target Market &amp; Unique Selling Positioning
							li Architectural Review &amp; Product Translation to the target buyer
							li Home-by-Home Pricing
							li Dedicated &amp; Highly Trained Agents
							li Sales &amp; Market Plan
							li Advertising &amp; Public Relations
							li Social Media &amp; Reputation Managment
							li Virtual Tours, 3-D Matterports, Drone &amp; Photography
							li Collateral Marketing Materials
							li Closing Coordination
							li Ernest Money Requirements
							li End Loan Financing
							li Property Recommendations
				.spacer-100
				.spacer-50
				.service.service_selling.d-flex.flex-wrap.justify-content-center.align-items-center.clearfix
					.service_content.col-md-6.col-sm-12.order-sm-1.order-2
						h2 The Power of An Affiliate Network
						.divider__orange--short
						p 
							| We provide developers with a wide range of services to help them push their projects to the front-end of the real estate market and create brand and product awareness. With our custom tailored services, we can effectively showcase the project and the developer to a targeted audience. Our affiliation with Christie’s International Real Estate Christie's and Leading RE connects us to a strong domestic and global network that you can explore at 
							a(href="https://www.nanproperties.com/affiliates") nanproperties.com/affiliates
							| . We are meticulous in the way we leverage our brand and our network to create and elevate projects and developer brands so that customer awareness drives traffic and transactions. 
						a.nan-btn-primary(href="#cms-form") Contact Us Now

					.service_img.col-md-6.col-sm-12.order-sm-2.order-1
						img(alt='selling_image' height='312' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/249218/Christies5_217.jpg' style='float:right' width='469')
			.spacer-100

			#nan-developer-services-logo.d-flex.flex-wrap.justify-content-center.align-items-center.clearfix
				a.m-auto.col-sm-6(href="/developer-services")
					img(src="https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/DEVELOPER_SERVICES/252270/1Development_Logo__1_.png" alt="Nan and Company Properties Developer Services")

			include partials/redirection-section-developer-services.pug
			
			.spacer-100

		//- include partials/cms-form


