extends layout-nan

block content
	// Copy the div below

	#developer-team-landing-page.custom-page
		include inline-css/_site-css
		include inline-css/developer-services

		main.team-container
			// nancy
			section.team-member-section.d-md-flex.justify-content-center.align-items-center.clearfix
				.team-member_content.col-md-6.col-sm-12.order-2.order-md-1
					h2 Nancy Almodovar
					h3.h5 President &amp; CEO
					.divider__orange--short
					p Nancy Almodovar, President and CEO of Nan and Company Properties, thrives in the world of luxury real estate on innovation, professionalism and ambition. With over fifteen years of experience and certification as an International Property Specialist, Almodovar has soared to the top of the industry with a company driven by customer service and client satisfaction. Almodovar launched Nan and Company Properties in 2014 from her kitchen table and has since filled a gap in the Houston marketplace for premier luxury real estate services including leasing, sales, and buying.
				.body-intro_img.col-md-6.col-sm-12.order-1.order-md-2
					img(alt='Nancy Almodovar, CEO' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/58906/optimized_2166110f375f4c0890c28805804f659d.jpeg' width='495')

			.spacer-100
			// jose
			section.team-member-section.d-md-flex.justify-content-center.align-items-center.clearfix
				.body-intro_img.col-md-6.col-sm-12.order-2.order-md-1
					img(alt='Jose Almodovar, COO' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/67019/optimized_2f6fb04aeed7589aef53a9ed3beb8757.jpg' width='495')
				.team-member_content.col-md-6.col-sm-12.order-1.order-md-2
					h2 Jose Almodovar
					h3.h5 COO
					.divider__orange--short
					p Jose Almodovar grew up in his mother's clothing factory business in a New York storefront and basement as a toddler and can remember wondering the factory filled with people manning sewing machines producing garments that was sub-contracted to his mother for production. As a child he witnessed his mother's business shut its doors in New York because of fierce competition and transplant to Los Angeles to begin again and once again shut down operations all before finishing his senior year in high school. The ups and downs of small business Jose witnessed early in life is something that Jose used to power his acumen for understanding the cycles of business and how important it is for businesses to be robust and adjust to new market conditions that can affect the life of a business.
			.spacer-100
			// michelle
			section.team-member-section.d-md-flex.justify-content-center.align-items-center.clearfix
				.team-member_content.col-md-6.col-sm-12.order-2.order-md-1
					h2 Michelle Arreguin
					h3.h5 Developer Services
					.divider__orange--short
					p A native Houstonian with nothing but pride for her city, Michelle Arreguin aims to contribute to the expansion of her city in her role at Nan and Company Properties. When moving to a city the size of Houston, knowing where to start the process can be very overwhelming, but working with an expert like Michelle Arreguin can help make the transition seamless. With a bachelor's in international studies from Texas State University and a master's in international business from St. Thomas University, Michelle's global-oriented mindset allows her to better understand the relationship between different cultures, ideas, and industries in Houston. Her background combined with the firm's affiliation with Christie's International Real Estate provides makes her fit to cater to your relocation needs, no matter where you're moving from or moving to. She is a certified Salesforce Administrator and Global Relocation Professional. Michelle works tirelessly to find the best residential opportunities while walking them through the entire process. Bilingual with strong interpersonal skills, providing world-class customer service is her number one value, and she promises to always seek the best for her clients.
				.body-intro_img.col-md-6.col-sm-12.order-1.order-md-2
					img(alt='Michelle Arreguin' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/62762/optimized_fdc219dc35ee81538bb49be4be5f82a3.jpg' width='495')
			.spacer-100
			// betty
			section.team-member-section.d-md-flex.justify-content-center.align-items-center.clearfix
				.body-intro_img.col-md-6.col-sm-12.order-2.order-md-1
					img(alt='Betty Harcourt, COO' height='599' src='https://st3.depositphotos.com/4111759/13425/v/450/depositphotos_134255626-stock-illustration-avatar-male-profile-gray-person.jpg' width='495')
				.team-member_content.col-md-6.col-sm-12.order-1.order-md-2
					h2 Betty Harcourt
					h3.h5 Developer Services
					.divider__orange--short
					p Betty Harcourt...

			include partials/redirection-section.pug

			include partials/cms-form


