extends layout-nan

block content
	// Copy the div below

	#developer-team-landing-page.custom-page
		include inline-css/_site-css
		include inline-css/_developer-services-main
		
		main.team-container
			h1.pb-3.my-5.text-center Our Developer Services Team
			section.team-member-menu.d-flex.flex-wrap.justify-content-start.align-items-start.clearfix
				a.team-member_item.nan-col-md-3.nan-col-6(href="#nancy")
					.team-member_item_image(style="background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/58906/optimized_2166110f375f4c0890c28805804f659d.jpeg')")
					.team-member_item_name
						p Nancy Almodovar
					.team-member_item_title
						p.h6.title CEO and President
						p.h6.title Nan Properties Developer Services
				a.team-member_item.nan-col-md-3.nan-col-6(href="#jose")
					.team-member_item_image(style="background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/67019/optimized_2f6fb04aeed7589aef53a9ed3beb8757.jpg')")
					.team-member_item_name
						p Jose Almodovar
					.team-member_item_title
						p.h6.title COO and Executive Vice President Business Development
						p.h6.title Nan Properties Developer Services
				a.team-member_item.nan-col-md-3.nan-col-6(href="#michelle")
					.team-member_item_image(style="background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/62762/optimized_fdc219dc35ee81538bb49be4be5f82a3.jpg')")
					.team-member_item_name
						p Michelle Arreguin
					.team-member_item_title
						p.h6.title Marketing Director
						p.h6.title Nan Properties Developer Services
				a.team-member_item.nan-col-md-3.nan-col-6(href="#betty")
					.team-member_item_image(style="background-image:url('https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/250064/content_IMG_4227.JPG')")
					.team-member_item_name
						p Betty Harbourt
					.team-member_item_title
						p.h6.title Executive Advisor
						p.h6.title Nan Properties Developer Services

		main.team-container
			// nancy
			section#nancy.team-member-section.d-flex.flex-wrap.justify-content-center.align-items-top.clearfix
				.team-member_content.nan-col-md-6.nan-col-sm-12.order-2.order-md-1
					h2 Nancy Almodovar
					h3.h5.title CEO and President
					h3.h5.title Nan Properties Developer Services
					.divider__orange--short
					p Nancy leads all aspects of the Nan Properties Developer Services efforts for each project. She works closely with developers though the product design and development phase to ensure each project is well positioned in the marketplace. Nancy is uniquely positioned to provide invaluable feedback from the marketplace as she interacts regularly with luxury international buyers, relocating professionals and both move up and downsizing empty nesters. Her expertise aligns developers with design and functionality targeted to meet neighborhood trends and buyers’needs. She seamlessly balances guidance in marketing strategies with sales pace and budgetgoals. Ultimately, where NPDS onsite agents separate themselves from the pack, is in their constant training overseen by Nancy. This is her passion that is brought from real experiences and methods that impact and mold the agents to listen to their buyers and close sales for developers. 
					p As President and CEO of Nan and Company Properties, Nancy thrives in the world of luxury real estate on innovation, professionalism and ambition. Since launching Nan and Company Properties in 2014 from her kitchen table, she has filled a gap in the Houston marketplace for premier luxury real estate services including leasing, sales and buying.

				.body-intro_img.nan-col-md-6.nan-col-sm-12.order-1.order-md-2
					img(alt='Nancy Almodovar, President & CEO' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/58906/optimized_2166110f375f4c0890c28805804f659d.jpeg' width='495')

			.spacer-100
			// jose
			section#jose.team-member-section.d-flex.flex-wrap.justify-content-center.align-items-top.clearfix
				.body-intro_img.nan-col-md-6.nan-col-sm-12.order-1.order-md-1
					img(alt='Jose Almodovar, COO' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/67019/optimized_2f6fb04aeed7589aef53a9ed3beb8757.jpg' width='495')
				.team-member_content.nan-col-md-6.nan-col-sm-12.order-2.order-md-2
					h2 Jose Almodovar
					h3.h5.title COO and Executive Vice President Business Development
					h3.h5.title Nan Properties Developer Services
					.divider__orange--short
					p Jose is the pulse and heartbeat of Nan Properties Developer Services. He has developed extensive sales and planning platforms that enable him to keep an eye on every new project, land opportunity and track sales pace for new developments in Houston. He provides leadership and sales guidance though the office infrastructure that he runs with efficiency and know how. Jose is responsible for ensuring Christie’s International Real Estate networking and referral opportunities are seamlessly woven into every NPDS project while remaining diligent in preserving confidentialities.


			.spacer-100
			// michelle
			section#michelle.team-member-section.d-flex.flex-wrap.justify-content-center.align-items-top.clearfix
				.team-member_content.nan-col-md-6.nan-col-sm-12.order-2.order-md-1
					h2 Michelle Arreguin
					h3.h5.title Marketing Director
					h3.h5.title Nan Properties Developer Services
					.divider__orange--short
					p Michelle is responsible for overseeing and coordinating all aspects of the marketing initiatives for each project. She works on behalf of the developer to manage advertising agencies, public relations, interior design, sales center coordination and numerous service providers who are tasked with delivering needed tools for each project. She works closely with the sales team to maximize awareness via digital and print advertising, event planning and social media programs. Michelle works closely with developers to meet their budget projections and reports oneffectiveness of programs to ensure the number of qualified leads are generated for the agents to convert. 
 
					p With a bachelor's in international studies from Texas State University and a master's in international business from St. Thomas University, Michelle's global-oriented mindset allows her to better understand the relationship between different cultures, ideas and industries in Houston. Her background, combined with the firm's affiliation with Christie's International Real Estate,allows her to cater to your relocation needs, no matter where you're moving from or moving to. She is a certified Salesforce Administrator and Global Relocation Professional.

				.body-intro_img.nan-col-md-6.nan-col-sm-12.order-1.order-md-2
					img(alt='Michelle Arreguin' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/assets/uploads/agent/photo/62762/optimized_fdc219dc35ee81538bb49be4be5f82a3.jpg' width='495')
			.spacer-100
			// betty
			section#betty.team-member-section.d-flex.flex-wrap.justify-content-center.align-items-top.clearfix
				.body-intro_img.nan-col-md-6.nan-col-sm-12.order-1.order-md-1
					img(alt='Betty Harcourt, COO' height='599' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/250064/content_IMG_4227.JPG' width='495')
				.team-member_content.nan-col-md-6.nan-col-sm-12.order-2.order-md-2
					h2 Betty Harbourt
					h3.h5.title Executive Advisor
					h3.h5.title Nan Properties Developer Services
					.divider__orange--short
					p As a national condominium sales and marketing expert with over 25 years of onsite development experience, Betty guides and directs the Developer Services platform at Nan Properties. She spent four years working exclusively in Houston where she led marketing and sales efforts for over 80% of the markets burgeoning condominium projects from 2016 to 2020. 
 
					p Her in-depth knowledge begins with the due diligence phase of project, where her proforma pricing and budgeting is key. She has a successful record of providing sales and marketing strategies from launch to sellout and her efforts have been integral to developers, investors and lenders as they evaluate the viability of projects and identify their target market, the design and lifestyle objectives to achieve sales. Her critical path to sales expertise and practical solutions aid in driving sales, decisions and ever lasting relationships through the NPDS executive team.
 
					p A native Kentuckian and graduate of the University of Kentucky, Betty moved to Atlanta where she began her real estate career in 1996. She led and developed strategic marketing and sales plans for a startup company called The Condo Store which was sold to NRT in 1999.  Betty remained with the company and oversaw well over 100 condominium developments for Coldwell Banker The Condo Store, then The Marketing Directors throughout the Southeast, Texas and Las Vegas. Product positioning has ranged from luxury branded to entry level condominium homes, both ground up / new construction to conversion, repositioning and presale developments.  



			include partials/redirection-section-developer-services.pug

			.spacer-50


			//- include partials/cms-form
