extends layout-nan

block content

    include inline-css/_site-css.pug
    style
        include inline-css/global-properties-css.css

    .globalPropsContainer
    
        .globalProps__title.globalProps__title__regionsPage
            h2 Explore Properties In #{continent}
            p A quick blurb about North America here. A quick blurb about North America here.A quick blurb about North America here.A quick blurb about North America here.A quick blurb about North America here.

        .globalProps__grid.globalRegions__cities
            each item in items
                if item.CrossMarket
                    a.globalProps__grid__item.globalRegions__cities__city(style="background-image:url('" + item.HeaderImage + "')", href="/global-properties/" + item.Continent.toLowerCase().replace(/\s/g, '-').replace(/&./g,'') + "/" + item.Locality.toLowerCase().replace(/\s/g, '-').replace(/&./g,'').substr(0, item.Locality.length - 1))
                        h3= item.Locality
        
        .divider__orange

        include partials/about-christies-block