extends layout

block content
  .home(style="display:flex;justify-content:center;align-content:center;height:100%;width:100%;position:relative")
    h1 Please visit our homepage at 
      a(href= nanUrl) #{nanUrlPretty}