- var logoUrl           = 'https://nanimages.s3.us-east-2.amazonaws.com/NanChristies_Logo_LockupVertical_DarkGray_Transparent.jpg'
- var luxSpecLogo       = 'https://nanimages.s3.us-east-2.amazonaws.com/2019LuxurySpecialistConferenceBadge.jpg'
- var trecUrl           = 'https://www.trec.texas.gov/sites/default/files/pdf-forms/CN%201-2.pdf'
- var iabsUrlPrefix     = 'https://members.har.com/mhf/terms/dispBrokerInfo.cfm?sitetype=aws&cid='
- var linkBlueHex       = '#1155cc'
- var nanOrange         = '#f16624'
- var nanGrey           = '#8d8d8d'
- var nanGreyDark       = '#666666'
- var officePhone       = '7137146454'
- var officePhoneFormat = '713.714.6454'
- var nanUrl            = 'https://www.nanproperties.com'
- var nanUrlPretty      = 'nanproperties.com'


doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
