extends layout-nan

block content
	// Copy the div below
	#single-development-landing-page
		include inline-css/_site-css

		style
			//- include ../public/stylesheets/single-development.css

		div(style='position: relative;')
			div(style='text-align: center;')
				h2(style='font-size: 2em; font-weight: bold; font-style: italic;')= devs.DevelopmentName
				hr(align='center' style='width: 80%; margin: 2em auto; color: rgba(241, 102, 36, 0.3); border: 1.5px solid; border-radius: 2px;')
			main(style='margin-top: 5em;')
				#carousel(style='max-width: 45em; box-sizing: border-box; overflow: hidden;')
					.slider-single(style='margin:0; padding: 0; overflow: hidden;')
						div
							img.carousel-slide_main.img1(alt='' height='365' onclick='showImg(1)' src='https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/Metronome/244713/content_img-1__2_.jpeg' width='548')
						div &nbsp;
						div &nbsp;
						div &nbsp;
						div &nbsp;
						div &nbsp;
						div &nbsp;
						div &nbsp;
						div &nbsp;
				section.subtitle(style='height: auto;')
					h2(style='font-size: 1.3em; margin: 0 0 0.5em 0; font-weight: bold !important; font-style: italic;') &nbsp;
					h2(style='font-size: 1.3em; margin: 0 0 0.5em 0; font-weight: bold !important; font-style: italic;')
						span(style='font-family:Playfair Display;')
							span(style='font-size:20px;') Located in #{devs.DevelopmentCityorNeighborhood}
					p &nbsp;
				section.agent_info
					div(style='overflow: hidden; max-height:140px; ')
						img(alt='' src= devs.SingleDevelopmentAgentImageURL style='width: 140px; height: 140px; object-fit: cover; object-position: top;margin: 0; ')
					div
						div(style='overflow: hidden; text-align: center;')
							img(alt='logo' src='https://i.ibb.co/6tg5RrX/nan-logo.jpg' style='height: 100px; width: 100px; margin: 0;')
						div(style='margin: 0;color: var(--orange) ;font-size: 0.9rem; font-weight: 700; line-height: 20px; padding-left: 10px;font-family: var(--font2);')
							| #{devs.SingleDevelopmentListingAgent}
							br
							span(style='font-size: 0.85rem; font-family: var(--font3);color: var(--light-gray);180 letter-spacing: 1px;') Realtor Associate 
				.contact(style='display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; justify-content: center; align-items: center; ')
					h2(style='color: white;font-size: 17px; font-family: var(--font4); font-weight: bold !important;')
						a(href=' https://www.nanproperties.com/contact' style='color: white;' target='_blank') Contact Us
				section.property_features
					h1#feature_title(style='') Property Features
					ul#feature_list(style='margin: 0;')
						li.propertyElement
							img(alt='' src='https://i.ibb.co/swyKXGR/orange-bed.png' style='height: 30px !important;')
							span Bedrooms: 3
						li.propertyElement
							img(alt='' src='https://i.ibb.co/wR3NnMp/orange-bathtub.png' style='height: 30px !important;')
							span Bathrooms: 3
						li.propertyElement
							img(alt='' src='https://i.ibb.co/xSSRf1H/orange-home.png' style='height: 30px !important;')
							span Building: 1,723 Sqft.
						li.propertyElement
							img(alt='' src='https://i.ibb.co/dtgmBrj/check.png' style='height: 30px !important;')
							span Status: Active&nbsp;
					p.propertyElement &nbsp;
			div(style='margin: 0px 0px 30px 0; ')
				p.description= devs.DevelopmentDescription
					
			section
				p
					iframe(allowfullscreen='' frameborder='0' height='400' src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBqJ_tTRZkle-Wnn9N7I7ahuz9DhLfeZag&q=' + devs.SingleDevelopmentAddress.replace(/\s/g, '+') + ',+' + devs.SingleDevelopmentCity + '' style="border:0" width="100%")
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css')


		include partials/cms-form