#condos-landing-page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#condos-landing-page p {
  font-size: 15px;
  color: #666;
}
#condos-landing-page h3 {
  font-size: 25px;
}
#condos-landing-page h4 {
  font-size: 18px;
}
#condos-landing-page a {
  color: #545454;
}
#condos-landing-page .nan-btn-outline {
  display: block;
  margin-bottom: 20px;
}
#condos-landing-page .nan-btn-outline a {
  background-color: #fff;
  color: var(--orange);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  border: 1px solid var(--orange);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}
#condos-landing-page .nan-btn-outline a:hover {
  color: #fff;
  background-color: var(--orange);
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
#condos-landing-page .condos__section {
  padding: 50px 0;
}
#condos-landing-page .condos__section h2 {
  margin-bottom: 30px;
  text-align: center;
}
#condos-landing-page .condos__intro h2,
#condos-landing-page .condos__intro p,
#condos-landing-page .condos__intro .btn {
  text-align: center;
}
#condos-landing-page .condos__intro .btn {
  color: #fff !important;
  text-decoration: none !important;
}
#condos-landing-page .condos__intro div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#condos-landing-page .condos__featuredBuildings__Inner,
#condos-landing-page .condos__searchByPrice__Inner,
#condos-landing-page .condos__searchByOther__Inner,
#condos-landing-page .condos__moreOptions__Inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
#condos-landing-page .condos__searchByPrice,
#condos-landing-page .condos__moreOptions {
  background-color: #fafafa;
  padding-left: 5%;
  padding-right: 5%;
}
#condos-landing-page .condos__featuredBuildings__Inner__building,
#condos-landing-page .condos__searchByOther__Inner__otherItem,
#condos-landing-page .condos__moreOptions__Inner__otherItem {
  padding: 20px;
}
#condos-landing-page .condos__featuredBuildings__Inner__building h5 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}
#condos-landing-page .condos__featuredBuildings__Inner__building__image {
  position: relative;
}
#condos-landing-page .condos__featuredBuildings__Inner__building__image .condos__featuredBuildings__Inner__building__image--featured {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 10px;
  background-color: var(--orange);
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
}
#condos-landing-page .condos__featuredBuildings__Inner__building__image,
#condos-landing-page .condos__moreOptions__Inner__otherItem__image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-position: center;
}
#condos-landing-page .condos__searchByOther__Inner__otherItem {
  text-align: left;
  font-size: 1.1rem;
}
#condos-landing-page .condos__searchByOther__Inner__otherItem:after {
  content: '';
  width: 90%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  height: 10px;
  display: block;
}
