main {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-row-gap: 15px;
  grid-column-gap: 30px;
  grid-template-areas: 'main info' 'main inquiry' 'main feature' 'main media' 'main .' 'title .';
}
@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: 'main' 'main' 'title ' 'feature' 'media' 'info' 'inquiry';
  }
  .subtitle h2 {
    font-size: 20px !important;
  }
  .subtitle h3 {
    font-size: 25px !important;
  }
  #feature_title {
    font-size: 1em !important;
    text-align: left !important;
  }
  .propertyElement {
    margin-left: 0 !important;
  }
  .propertyElement > span {
    font-size: 1em !important;
  }
  iframe {
    width: 100%;
  }
  div > p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 450px) {
  .subtitle h2 {
    font-size: 15px !important;
  }
  .subtitle h3 {
    font-size: 22px !important;
  }
  #feature_title {
    font-size: 0.9em !important;
  }
  .propertyElement > span {
    font-size: 0.9em !important;
  }
  div > p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 350px) {
  iframe,
  button {
    width: 280px;
  }
}
#carousel {
  grid-area: main;
}
.agent_info {
  grid-area: info;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.description {
  color: var(--light-gray);
  text-align: justify;
  font-size: 17px;
  font-family: var(--font4);
}
.contact {
  height: 50px;
  grid-area: inquiry;
  background-color: var(--orange);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.property_features {
  grid-area: feature;
}
#feature_title {
  color: var(--dark-gray);
  margin: 0 0 0.5vw 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold !important;
  font-family: var(--font1);
  letter-spacing: 2px;
}
.propertyElement {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  line-height: 40px;
  margin: 0.2vw 0 0 0;
  font-family: var(--font3);
}
.propertyElement img {
  margin: 0;
}
.propertyElement > span {
  margin-left: 10px;
  font-size: 1em;
  font-family: var(--font3);
  letter-spacing: 1px;
}
.videomap {
  grid-area: media;
  text-align: center;
}
.subtitle {
  grid-area: title;
}
