/*-----------------------*/
/* Site Default Template */
/*-----------------------*/

:root {
    --orange: #f16624;
    --light-gray: #a3aaad;
    --gray: #7c7d7d;
    --dark-gray: #434647;
    --default-font: 'Century Gothic W01',"Helvetica Neue", Helvetica, "Lucida Grande", arial, sans-serif;
    --script-font: 'Playfair Display', serif;
    font-size:16px;
}

h1, .h1 {
    font-size: 3.052rem;
    font-family: var(--default-font) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: var(--dark-gray);
    /* letter-spacing: -1px; */
    line-height: 1em;
}

h2, .h2 {
    font-size: 2.441rem;
    font-family: var(--default-font) !important;
    /* font-weight: 100 !important; */
    text-transform: uppercase;
    margin: 0 0 20px;
    color: var(--orange);
    /* letter-spacing: -.75px; */
    line-height: 1.2em;
}

h3, .h3 {
    font-size: 1.953rem;
    font-family: var(--default-font);
    margin: 20px 0;
    color: var(--orange);
    font-weight: 200 !important;
    text-transform: uppercase;
}

h4, .h4 {
    font-size: 1.563rem;
    font-family: var(--default-font);
    font-weight: 100 !important;
    text-transform: uppercase;
    margin: 10px 0;
}

p {
    font-weight: 400 !important;
    font-family: var(--default-font);
    margin: 0 0 20px !important;
    /* letter-spacing: 0.1px; */
    font-size: 1rem;
    line-height: 1.7em;
    color: var(--orange);
}

li, a {
    font-family: var(--default-font);
}

hr {
    margin: 40px 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 1px;
    background: #ccc;
    border: none;
}

iframe {
    border: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nan-btn-primary {
    display: inline-block;
    background-color: var(--orange);
    margin:auto;
    color: #fff;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--default-font);
    padding: 16px 40px;
    text-align: center;
    text-transform:uppercase;
}
.nan-btn-primary:hover {
	color:#fff;
	text-decoration:none;
}

.divider__orange {
    height: 2px;
    background-color: var(--orange);
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.aboutChristies__block {
    padding-top:20px;
    display:flex;
    justify-content:space-between;
    align-content:flex-start;

}
.aboutChristies__image {
    width:33%
}
.aboutChristies__image div {
    background-size:cover;
    height: 300px;
    width: 100%;
    background-position: center;
}
.aboutChristies__details {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutChristies__details h2 {
    color: var(--dark-gray)

}
.aboutChristies__details p {
    color: var(--light-gray)
}
@media (max-width:599px) {
    .aboutChristies__block {
        width:100%;
        display:block;
    }
    .aboutChristies__image {
        width: 100%;
    }
    .aboutChristies__details {
        width: 100%;
        margin-top: 30px;

    }
    .aboutChristies__details p {
        margin-bottom:30px !important;
    }
}

#banner img {
    max-height: 560px;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}

#banner .banner-page-title h1 {
    background-color: transparent;
    font-size: 3.5em;
    text-shadow: 0 0 100px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    #banner .banner-page-title h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    #banner .banner-page-title h1 {
        font-size: 2em;
    }
}
