link(rel='stylesheet' type='text/css' href='https://nan-properties-assets.s3.us-east-2.amazonaws.com/css/_bootstrap_custom.css')
link(rel='stylesheet' type='text/css' href='//fast.fonts.net/cssapi/3f8ea006-37c1-4730-a82d-399dce434189.css')
link(rel='stylesheet' type='text/css' href='https://nan-properties-assets.s3.us-east-2.amazonaws.com/css/_site-css.css')