style(type='text/css').
	.redirecting_section-links__link-item {
		margin-top:20px;
		margin-bottom:10px;
	}
	.redirecting_section-links__link-item-inner {
		padding-bottom:56.25%;
		background-size:cover;
		background-position:center;
	}