style(type='text/css').
	.services_body-container {
		max-width: 1080px;
		margin: 0 auto
	}

	.services_body-container p {
		margin: 0;
		margin-bottom: 30px !important
	}

	.services_body-container img {
		width: 100%
	}

	.services_body-container h2,
	.services_body-container h3 {
		font-weight: 400;
		text-transform: capitalize
	}

	.services_body-container h3 {
		margin: 20px 0
	}

	.body-intro,
	.recent_listings>div,
	.redirecting_section-links,
	.services>div {
		padding: 0 40px
	}

	.body-intro div {
		box-sizing: border-box
	}

	.body-intro_content {
		float: left
	}

	.body-intro_content>* {
		max-width: 82%
	}

	.body-intro_content h2 {
		margin-top: 45px
	}

	/* .body-intro_content h2::after {
		content: '';
		height: 3px;
		width: 70%;
		margin: 37px 0;
		background-color: var(--orange);
		display: block
	} */

	.body-intro_img {
		padding-left: 25px;
		float: right
	}

	.clear {
		clear: both
	}

	/* .services>div {
		margin-top: 100px
	} */

	.service {
		position: relative;
		margin-top: 20px
	}

	.service::before {
		content: '';
		position: absolute;
		background-color: var(--xlight-gray);
		width: 100%;
		height: auto;
		z-index: -1;
		top: -10%;
		right: auto;
		bottom: -10%;
		left: auto;
	}

	.service>* {
		width: 50%;
		box-sizing: border-box
	}

	.service_buying>:not(.service_img),
	.service_leasing>:not(.service_img),
	.service_selling>.service_img {
		float: right;
		padding-left: 25px
	}

	.service_buying>.service_img,
	.service_leasing>.service_img,
	.service_selling>:not(.service_img) {
		float: left;
		padding-right: 25px
	}

	.service>h2 {
		margin-top: 15px
	}

	.service_sm-title {
		font-weight: 800;
		color: var(--orange) !important;
		letter-spacing: 3px;
		margin-top: 15px !important
	}

	.recent_listings {
		margin-top: 100px
	}

	.recent_listings h2,
	.redirecting_section h2 {
		text-align: center
	}

	.recent_listings button {
		margin-top: 50px
	}

	/* .h2.text-center::after,
	.recent_listings>h2::after,
	.redirecting_section>h2::after {
		content: '';
		height: 3px;
		margin: 30px 37%;
		background-color: var(--orange);
		display: block
	} */

	.listings {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between
	}

	.listing {
		max-width: 31%;
		margin-top: 30px
	}

	.listing>p {
		margin: 10px 0 0 !important;
		line-height: normal
	}

	.listing>h3 {
		margin: 10px 0 14px;
		letter-spacing: 1px
	}

	.listing>a {
		font-family: var(--font1);
		text-decoration: none;
		color: var(--orange)
	}

	.listing>a>img {
		max-width: 100%
	}

	.link>h3 {
		text-align: center;
		text-decoration: none;
		margin-left: auto;
		margin-right: auto
	}

	@media only screen and (max-width:1199px) {

		.body-intro_img {
			margin-top: 85px
		}
		.body-intro_content h2 {
			margin-top: 15px;
			margin-bottom: 15px
		}
		.body-intro_content h2::after {
			margin: 20px 0;
			width: 100%
		}
		.body-intro,
		.recent_listings>div,
		.redirecting_section-links,
		.services>div {
			padding: 0 0px
		}
		.services_body-container p {
			line-height: 2em
		}
		.service_btn-container,
		.service_buying>p:not(.service_sm-title),
		.service_leasing>p:not(.service_sm-title) {
			float: left !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100%;
			margin: 12px 0 !important;
			line-height: 2em
		}
		.service_selling>p:not(.service_sm-title) {
			float: right !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100%;
			margin: 12px 0 !important;
			line-height: 2em
		}
		.service_btn-container .services-button {
			width: 100%
		}
		.recent_listings>h2::after,
		.redirecting_section>h2::after {
			margin: 30px 25%
		}
	}



	@media only screen and (max-width:599px) {
		.service:before {
			background-color:transparent
		}
		.services-button {
			width: 100%;
			transition: all .4s ease-in-out 0s
		}
		.services_body-container h2,
		.services_body-container h3 {
		}
		/* .body-intro,
		.recent_listings>div,
		.redirecting_section-links,
		.services>div {
			padding-bottom: 12px
		} */
		.body-intro_img {
			display: none
		}
		.body-intro_content {
			float: none;
			width: 100% !important
		}
		.body-intro_content>* {
			width: 100% !important;
			max-width: 100% !important
		}
		.body-intro_content>h2 {
			text-emphasis: center
		}
		.service {
			height: auto
		}
		.link,
		.service>* {
			width: 100%
		}
		.service_buying>.service_img,
		.service_leasing>.service_img,
		.service_selling>:not(.service_img) {
			float: none;
			padding: 20px!important;
		}
		.service_btn-container,
		.service_buying>p:not(.service_sm-title),
		.service_leasing>p:not(.service_sm-title) {
			float: none !important
		}
		.listing {
			max-width: 100%;
		}
		.listing>h3 {
			margin: 0 0 14px !important
		}
		.redirecting_section-links {
			flex-wrap: wrap;
			padding-left:0px!important;
			padding-right:0px!important;

		}
	}


