include _site-css.pug

style.
    .globalProps__title {
        text-align:center;
        margin-top:50px;
        margin-bottom:50px;
    }
    .globalProps__grid {
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        flex-wrap:wrap;
    }
    .globalProps__grid__item {
        width:30%;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:#f0f0f0;
        height:300px;
        margin-bottom:3%;
        padding: 20px;

    }
    .globalProps__grid__item h2 {
        text-align:center;
    }
    




