style.
    .divider-full-width {
        width:100%;
        display:block;
        background-color:#cccccc;
        height:1px;
    }
    .signatures__container {
        position:relative;
        display:flex;
    }
    .signatures__sidebar {
        position:sticky;
        width:20%;
        height:100%;
        padding:20px;
        background-color:#f0f0f0;
        margin-right:5%;
        top:5%;
    }
    .signatures__sidebar a {
        display:block;
        margin-bottom:10px;
        /* margin-left:20px; */
        font-size:1.1em;
    }
    .signatures__sidebar a:active, .signatures__sidebar a:hover {
        color: #f16624;
    }
    .sidebar-menu {
        padding-inline-start: 20px !important;
    }
    /*.sidebar-menu ul, .sidebar-menu li { 
        list-style:none;
    }*/
    .signatures__content {
        width:60%
    }
    .signatures__content section {
        margin-top:5%;
        margin-bottom:100px;
    }
    .sidebar-menu-item {
        margin-bottom:20px;
    }