style(type='text/css').

	.builder__content {
		margin-top:40px;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:start;
			-ms-flex-align:start;
				align-items:flex-start;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
		position:static;
	}
	.builder__title {
		margin-bottom:50px;
	}

	.builder__description h3, .builder__description p {
		padding-bottom:30px;
	}
	.builder__video {
		margin-bottom:50px;
	}
	.builder__sidebar {
		height: 100%;
		/* width:33%; 
		position:-webkit-sticky;
		position:sticky;
		padding-bottom: 15px;
		padding-left: 20px; */
	}
	.builder__sidebar h3 {
		margin-top:0;
		margin-bottom:30px;
	}

	.builder__listings {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:start;
			-ms-flex-align:start;
				align-items:flex-start;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
		flex-wrap:wrap;

	}
	.builder__listing {
		width: 32%;
	}
	.builder__listing a .embed-container {
		margin-bottom:20px;
	}
	.builder__listing__title {
		margin-bottom:10px;
	}
	.builder__listing__description {
		margin-bottom:30px;
	}
	.builder__listing__link {
		display: block;
		padding: 18px 40px;
		text-align: center;
		background-color: var(--orange);
		color: white;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	.builder__content h4 {
		color: var(--orange);
		margin-bottom:30px;
	}
	.builder__content p {
		color: var(--gray);
	}