style(type='text/css').
    .builder__content {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        position:static;
    }
    .builder__title {
        margin-bottom:50px;
    }
    .builder__about {
        width:66%;
        position:relative;
        padding-right: 5%;
        margin-bottom: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .builder__video {
        margin-bottom:50px;
    }
    .builder__sidebar {
        position:-webkit-sticky;
        position:sticky;
        width:33%;
        height:100%;
        padding-bottom: 15px;
        padding-left: 20px;
    }
    .builder__sidebar h3 {
        margin-top:0;
        font-size:1em;
        text-align:center;
        margin-bottom:30px;
    }
    .builder__listing a .embed-container {
        margin-bottom:20px;
    }
    .builder__listing__title {
        text-transform:uppercase;
        letter-spacing:.5px;
        margin-bottom:10px;
    }
    .builder__listing__description {
        line-height:1.5em;
        margin-bottom:20px;
        font-size: .9em;
    }
    .builder__listing__link {
        display: block;
        padding: 18px 40px;
        text-align: center;
        background-color: var(--orange);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .75em;
        margin-bottom: 50px;
    }
    .builder__content h4 {
        color: var(--orange);
        margin-bottom:30px;
    }
    .builder__content p {
        font-size:16px;
        line-height:1.5;
        color: var(--gray);
    }