style.
    .affiliates__content {
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-align-content:flex-start;
            -ms-flex-line-pack:start;
                align-content:flex-start;
        justify-content:space-between;
        height:100%;
        overflow:visible;
    }
    .affiliates__sidebar {
        position:-webkit-sticky;
        position:sticky;
        height:100px;
        width:25%;
        top: 100px;
        overflow:visible;
        padding-top: 40px;
    }
    .affiliates__sidebar h3 {
        margin-top:0;

    }
    .affiliates__sidebar ul {
        list-style: none;
        padding-inline-start: 0px;

    }
    .affiliates__sidebar li {
        margin-bottom:10px;
        font-size:1.25em;
    }
    .affiliates__list {
        width:60%;
        height:100%;
    }
    .affiliate__region {
        width:100%;
        padding:20px;
    }
    .affiliate__affiliateOffice {
        margin-bottom:40px;
    }
    .affiliate__affiliateOffice:last-child:after {
        content:'';
        height:1px;
        margin-top:40px;
        margin-bottom:40px;
        display: block;
        background-color: var(--light-gray);
    }
    .affiliate__affiliateOffice:after {
        display:none;
        margin-bottom:0px;
    }
    .affiliate__affiliateOffice p {
        font-size:1.2em;
    }
    .affiliate__region--title {
        font-size:1.25em;
        margin-top:20px;
        margin-bottom:40px;
    }
    .affiliate__affiliateOffice--details {
        display:flex;
        align-content:flex-start;
        justify-content:space-between;
    }
    .affiliate__affiliateOffice--col {
        width:50%;
    }
    .affiliate__affiliateOffice--col-2 {
        justify-content: flex-end;
        display: flex;
    }
    .affiliate__affiliateWebsiteWrapper--website {
        background-color: var(--orange);
        color:white;
        padding:16px 16px;
        font-size:.75em;
        text-align:center;
        display: inline-block;
        font-weight:700;
        letter-spacing:1px;
        text-transform:uppercase;

    }